body {
    background-color: #142740;
}

#app {
    margin-top: 200px;
}

div {
    margin: 10px;
    
}

.box-counter{
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    margin: 20px;
    padding: 40px;border-radius: 20px;
    font-size: 3rem;
    color: #F23E16;
    background-color: #F2CDA0;
    box-shadow: 8px -16px #D93223;
}

.title {
    margin: 50px;
    font-size: 4rem;
    text-align: center;
    color: #F23E16;
}